**__pycache__/
**.DS_Store
build/
rho_learn.egg-info


# Field example
docs/example/field/data/*
docs/example/field/ml/*
docs/example/field/slurm_out/*
docs/example/field/precalc_data/*/lsoap.npz

# Tensor example
docs/example/tensor/data/*
docs/example/tensor/ml/*