**__pycache__/
**.DS_Store
build/
rho_learn.egg-info

*slurm_out/*
*.sh

# Water example
docs/example/field/data/*
docs/example/field/ml/*

# EFG example
docs/example/tensor/data/*
docs/example/tensor/ml/*