**__pycache__/
**.DS_Store
build/
rho_learn.egg-info

# Water example
docs/example/water/data/
docs/example/water/runs/
docs/example/new_water/
docs/example/h2o/data/*
docs/example/h2o/ml/*
docs/example/h2o/slurm_out/*
docs/example/h2o/*.sh

# EFG example
docs/example/efg/data/*
docs/example/efg/ml/checkpoints/*